# Dependencies
node_modules/

# Build output
dist/
out/
bundled-tools/*
!bundled-tools/platform-tools/
bundled-tools/platform-tools/*
!bundled-tools/platform-tools/.gitkeep

# Electron
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
